body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.home-background {
  background-image: url("assets/homepage-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Ensures it covers the entire viewport height */
  width: 100%;
}
